@import url(react-spinner.css);
body, html, * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  box-sizing: border-box; }

:focus {
  outline: none; }

a {
  color: #FFFFFF;
  text-decoration: none; }

h3 {
  line-height: 40px; }

#chat {
  margin: 0 auto;
  padding: 13px 20px;
  color: #FFFFFF;
  background-color: #6541a5;
  position: relative;
  height: 100%; }
  @media screen and (min-width: 480px) {
    #chat {
      max-width: 380px;
      margin: 3% auto;
      border-radius: 10px;
      height: 92%; } }
  #chat .header {
    overflow: hidden;
    text-align: center;
    height: 52px;
    width: 100%; }
    #chat .header span {
      display: inline-block;
      font-size: 32px; }
    #chat .header .fa {
      font-size: 36px;
      margin-right: 12px; }
  #chat .messages {
    width: 94% !important;
    position: absolute;
    top: 15px;
    bottom: 65px;
    left: 3%;
    padding: 10px 0 5px 0; }
    #chat .messages .message {
      overflow: hidden;
      min-height: 1px;
      padding-left: 2px; }
    #chat .messages .nick {
      background-color: #532d96;
      padding: 6px 12px;
      border-radius: 12px 12px 0;
      display: inline-block;
      margin: 6px 0 6px;
      font-size: 20px;
      float: left; }
    #chat .messages .text {
      padding-left: 7px;
      width: 100%;
      overflow: hidden;
      margin-bottom: 5px; }
      #chat .messages .text .body {
        max-width: 100%;
        font-size: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        line-height: 23px;
        vertical-align: top; }
      #chat .messages .text .time {
        font-size: 10px;
        font-style: italic;
        color: #d6d1e0;
        line-height: 18px;
        display: inline-block;
        vertical-align: bottom;
        margin-left: 4px; }
    #chat .messages .false {
      padding-right: 12px; }
      #chat .messages .false .nick {
        float: right;
        border-radius: 12px 12px 12px 0; }
      #chat .messages .false .text {
        text-align: right;
        padding-right: 2px;
        float: right; }
  #chat .login {
    text-align: center;
    background-color: #6541a5;
    margin: 0;
    padding: 12px;
    position: absolute;
    top: 25%;
    width: 100%;
    left: 0; }
    #chat .login a {
      padding: 4px 8px;
      background-color: #402275;
      display: inline-block;
      border-radius: 6px;
      width: 125px;
      text-align: left;
      margin: 15px 10px 0 0; }
    #chat .login span {
      vertical-align: middle;
      margin-right: 5px; }
  #chat .footer {
    text-align: center;
    background-color: #6541a5;
    margin: 0;
    padding: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0; }
    @media screen and (min-width: 480px) {
      #chat .footer {
        border-radius: 0 0 10px 10px; } }
    #chat .footer span {
      font-size: 18px;
      vertical-align: top;
      line-height: 42px; }
    #chat .footer input {
      padding: 10px;
      border-radius: 4px;
      border: 0;
      vertical-align: top;
      margin: 0 0 0 8px;
      width: 66%;
      font-size: 18px; }
    #chat .footer .NewMessage {
      width: 98%;
      margin: 0 1%;
      font-size: 20px; }
  #chat .spinner {
    width: 100%;
    height: 200px;
    background-color: #6541a5;
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 1000; }
    #chat .spinner .react-spinner {
      z-index: 1001; }
