@import "react-spinner.css";

$break-small: 480px;

body, html, * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

h1 {
  display: inline-block;
  font-size: 30px;
}

h3 {
  margin: 50px 0 10px;
  font-size: 16px;
}

#chat {
  margin: 0 auto;
  padding: 13px 20px;
  color: #FFFFFF;
  background-color: #6541a5;
  position: relative;
  height: 100%;

  @media screen and (min-width: $break-small) {
    max-width: 380px;
    margin: 3% auto;
    border-radius: 10px;
    height: 92%;
  }

  .sign-out {
    position: absolute;
    right: 16px;
    top: 10px;
    font-size: 22px;
    color: #6541a5;

    &:hover {
      color: white;
    }
  }

  .messages {
    width: 95% !important;
    position: absolute;
    top: 25px;
    bottom: 65px;
    left: 3%;
    padding: 10px 0 5px 0;

    .message {
      overflow: hidden;
      min-height: 1px;
      padding-left: 2px;
    }

    .nick {
      background-color: #532d96;
      padding: 6px 12px;
      border-radius: 12px 12px 0;
      display: inline-block;
      margin: 6px 0 6px;
      font-size: 20px;
      float: left;
    }

    .text {
      padding-left: 7px;
      width: 100%;
      overflow: hidden;
      margin-bottom: 5px;

      .body {
        max-width: 100%;
        font-size: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        line-height: 23px;
        vertical-align: top;
      }

      .time {
        font-size: 10px;
        font-style: italic;
        color: #d6d1e0;
        line-height: 18px;
        display: inline-block;
        vertical-align: bottom;
        margin-left: 4px;
      }
    }

    .false {
      padding-right: 12px;

      .nick {
        float: right;
        border-radius: 12px 12px 12px 0;
      }

      .text {
        text-align: right;
        padding-right: 2px;
        float: right;
      }
    }
  }

  .login {
    text-align: center;
    background-color: #6541a5;
    margin: 0;
    padding: 12px;
    position: absolute;
    top: 25%;
    width: 100%;
    left: 0;

    .header {


      .fa {
        font-size: 36px;
        margin-right: 12px;
      }
    }

    .error {
      font-size: 13px;
      max-width: 280px;
      margin: 20px auto 0 auto;
    }

    a {
      padding: 10px 8px 5px 8px;
      background-color: #402275;
      display: inline-block;
      border-radius: 12px;
      width: 86px;
      text-align: center;
      margin: 20px 10px 0 0;
      font-size: 15px;
      line-height: 27px;

      .fa {
        font-size: 2em;
      }
    }
  }

  .footer {
    text-align: center;
    background-color: #6541a5;
    margin: 0;
    padding: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;

    @media screen and (min-width: $break-small) {
      border-radius: 0 0 10px 10px;
    }

    .newMessage {
      padding: 12px;
      border-radius: 4px;
      border: 0;
      vertical-align: top;
      width: 100%;
      font-size: 17px;
    }

    .send {
        position: absolute;
        right: 5.2%;
        bottom: 17px;
        color: rgba(101, 65, 165, 0.73);
        font-size: 33px;
    }
  }

  .spinner {
    width: 100%;
    height: 350px;
    background-color: #6541a5;
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 1000;

    .react-spinner {
      z-index: 1001;
    }
  }
}